// Default Theme Color Palette

// Red
$red-light: #F38BA8;
$red-dark: #D96F89;

// Pink
$pink-light: #F5C2E7;
$pink-dark: #D995C8;

// Purple
$purple-light: #CBA6F7;
$purple-dark: #A77BD8;

// Blue
$blue-light: #C18C80;
$blue-dark: #8CB8E4;

// Teal
$teal-light: #B9C4D2;
$teal-dark: #7FA0B8;

// Green
$green-light: #A6E3A1;
$green-dark: #77B870;
$sea-light: #A6E3A1;
$sea-dark: #77B870;

// Yellow
$yellow-light: #F9E2AF;
$yellow-dark: #DDBB72;

// Orange
$orange-light: #FAB387;
$orange-dark: #D88755;

// Grey
$grey-050: #F6F7FB;
$grey-100: #E7EAF0;
$grey-150: #D8DDE6;
$grey-200: #C8CED8;
$grey-250: #B9C4D2;
$grey-300: #A7B1C0;
$grey-350: #98817B;
$grey-400: #8B736D;
$grey-450: #7F635D;
$grey-500: #70554F;
$grey-550: #604740;
$grey-600: #523A34;
$grey-650: #49342E;
$grey-700: #3E2D28;
$grey-750: #352620;
$grey-800: #2A1D19;
$grey-850: #211714;
$grey-900: #19110F;
$grey-950: #100B0A;

// White
$white: #FFFFFF;

// Black
$black: #000000;

// Windows Button
$button-close: #fd5f51;
$button-max: #38c76a;
$button-min: #fdbe04;
