// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'tweaks-temp';

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function gtkmix($c1,$c2,$r) {
  $ratio: 1 -  $r / 100%; // match SCSS mix()
  @return unquote("mix(#{$c1},#{$c2},#{$ratio})");
}

@function gtkshade($c,$s) {
  @return unquote("shade(#{$c},#{$s})");
}

@function gtkcolor($c) {
  @return unquote("@#{$c}");
}

@function on($color, $state: 'primary') {
  // Allow 'light' or 'dark' to $color
  @if ($color == 'light') { $color: white; }
  @if ($color == 'dark') { $color: black; }

  // Calculate color brightness according to https://www.w3.org/TR/AERT/#color-contrast
  $brightness: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000;

  @if ($brightness >= 156) {
    @if ($state == 'primary') { @return rgba(black, 0.87); }
    @if ($state == 'secondary') { @return rgba(black, 0.6); }
    @if ($state == 'disabled') { @return rgba(black, 0.38); }
    @if ($state == 'secondary-disabled') { @return rgba(black, 0.26); }
    @if ($state == 'track') { @return rgba(black, 0.26); }
    @if ($state == 'track-disabled') { @return rgba(black, 0.15); }
    @if ($state == 'divider') { @return rgba(black, 0.12); }
    @if ($state == 'secondary-fill') { @return rgba(black, 0.08); }
    @if ($state == 'fill') { @return rgba(black, 0.04); }
  } @else {
    @if ($state == 'primary') { @return white; }
    @if ($state == 'secondary') { @return rgba(white, 0.7); }
    @if ($state == 'disabled') { @return rgba(white, 0.5); }
    @if ($state == 'secondary-disabled') { @return rgba(white, 0.3); }
    @if ($state == 'track') { @return rgba(white, 0.3); }
    @if ($state == 'track-disabled') { @return rgba(white, 0.15); }
    @if ($state == 'divider') { @return rgba(white, 0.12); }
    @if ($state == 'secondary-fill') { @return rgba(white, 0.08); }
    @if ($state == 'fill') { @return rgba(white, 0.04); }
  }
}

@function highlight($color) {
  @if (lightness($color) >= 80%) { @return rgba(white, 0.4); }
  @else if (lightness($color) >= 40%) { @return rgba(white, 0.2); }
  @else { @return rgba(white, 0.1); }
}

@function theme($color) {
  @if ($variant == 'light') {
    @return $blue-dark;
  } @else {
    @return $blue-light;
  }
}

@function background($type) {
  @if ($type == 'a') { @return $white; }
  @if ($type == 'b') { @return $grey-050; }
  @if ($type == 'c') { @return $grey-100; }
  @if ($type == 'd') { @return $grey-250; }

  @if ($blackness == 'true') {
    @if ($type == 'e') { @return $black; }
    @if ($type == 'f') { @return $grey-950; }
    @if ($type == 'g') { @return $grey-900; }
    @if ($type == 'h') { @return $grey-850; }
  } @else {
    @if ($type == 'e') { @return $grey-800; }
    @if ($type == 'f') { @return $grey-750; }
    @if ($type == 'g') { @return $grey-700; }
    @if ($type == 'h') { @return $grey-650; }
  }
}

//
// Basic colors
//

$primary:                               theme($theme);
$primary-fixed:                         theme($theme);
$drop_target_color:                     $orange-dark;
$background:                            if($variant == 'light', background(c), $grey-800);
$surface:                               if($variant == 'light', background(a), $grey-650);
$base:                                  if($variant == 'light', background(a), $grey-750);
$base-alt:                              if($variant == 'light', background(b), $grey-700);

@if $colorscheme != 'default' {
  $surface:                             if($variant == 'light', background(b), background(h));
  $base:                                if($variant == 'light', background(b), background(g));
  $base-alt:                            if($variant == 'light', background(c), background(f));
}

$tooltip:                               if($variant == 'dark', rgba($surface, 0.96), rgba(darken(background(h), 3%), 0.9));
$osd:                                   if($variant == 'light', background(e), rgba($background, 0.96));
$scrim:                                 if($variant == 'light', background(f), rgba($background, 0.86));
$scrim-alt:                             if($variant == 'light', background(g), rgba($base, 0.92));
$scrim-inverse:                         rgba(white, 0.1);
$titlebar:                              if($topbar == 'dark', $surface, background(a));
$titlebar-backdrop:                     if($topbar == 'dark', darken($surface, 5%), background(b));

$keyboard:                              if($variant == 'light', $grey-050, $background); // for gnome-shell keyboard
$keyboard-alt:                          if($variant == 'light', $grey-300, $base-alt); // for gnome-shell keyboard
$system:                                if($variant == 'light', $grey-100, $base-alt); // for gnome-shell keyboard
$popover:                               if($variant == 'light', background(a), mix($surface, $background, 78%));

$panel-solid:                           if($topbar == 'dark', $background, background(c)); // for Unity panel which doesn't allow translucent colors
$panel:                                 if($opacity == 'default', rgba($panel-solid, 0.78), $panel-solid);
$shell:                                 if($topbar == 'dark', rgba($background, 0.74), background(c)); // for gnome-shell

$button:                                if($variant == 'light', gtkalpha(currentColor, 0.05), rgba($surface, 0.18));
$entry:                                 if($variant == 'light', gtkalpha(currentColor, 0.05), rgba($surface, 0.16));

//
// Misc colors
//

$link:                                  $primary;
$link-visited:                          if($variant == 'light', $purple-dark, $purple-light);

$warning:                               if($variant == 'light', $yellow-dark, $yellow-light);
$error:                                 if($variant == 'light', $red-dark, $red-light);
$success:                               if($variant == 'light', $sea-dark, $sea-light);

$suggested:                             $primary;
$destructive:                           $error;

$check_radio_primary:                   if($check_radio == 'default', $success, $primary);

$frame:                                 if($variant == 'light', rgba(black, 0.1), rgba(black, 0.28)); // instead of shadows
$border:                                if($variant == 'light', rgba(black, 0.12), rgba($grey-450, 0.42));
$solid-border:                          if($variant == 'light', darken($background, 8%), $grey-450);
$border-alt:                            rgba(black, 0.16); // darker border color for Chrome and Firefox
$titlebar-indicator:                    if($topbar == 'dark', currentColor, $primary);

//
// Overlay state colors
//

$overlay-normal:                        if($variant == 'light', gtkalpha(currentColor, 0.05), rgba($surface, 0.14));
$overlay-hover:                         if($variant == 'light', gtkalpha(currentColor, 0.08), rgba($surface, 0.24));
$overlay-focus:                         if($variant == 'light', gtkalpha(currentColor, 0.08), rgba($primary, 0.24));
$overlay-focus-hover:                   if($variant == 'light', gtkalpha(currentColor, 0.16), rgba($primary, 0.32));
$overlay-active:                        if($variant == 'light', gtkalpha(currentColor, 0.12), rgba($primary, 0.28));
$overlay-checked:                       if($variant == 'light', gtkalpha(currentColor, 0.10), rgba($primary, 0.24));
$overlay-selected:                      if($variant == 'light', gtkalpha(currentColor, 0.06), rgba($primary, 0.18));

//
// Text and derivative colors
//

$text:                                  if($variant == 'light', on($background), $grey-050);
$text-secondary:                        if($variant == 'light', on($background, secondary), $grey-250);
$text-disabled:                         if($variant == 'light', on($background, disabled), rgba($grey-250, 0.58));
$text-secondary-disabled:               if($variant == 'light', on($background, secondary-disabled), rgba($grey-250, 0.38));
$track:                                 if($variant == 'light', on($background, track), rgba($grey-250, 0.30));
$track-disabled:                        if($variant == 'light', on($background, track-disabled), rgba($grey-250, 0.18));
$divider:                               if($variant == 'light', on($background, divider), rgba($grey-450, 0.35));
$secondary-fill:                        if($variant == 'light', on($background, secondary-fill), rgba($surface, 0.28));
$fill:                                  if($variant == 'light', on($background, fill), rgba($surface, 0.18));

$titlebar-text:                         on($titlebar);
$titlebar-text-secondary:               on($titlebar, secondary);
$titlebar-text-disabled:                on($titlebar, disabled);
$titlebar-text-secondary-disabled:      on($titlebar, secondary-disabled);
$titlebar-track:                        on($titlebar, track);
$titlebar-track-disabled:               on($titlebar, track-disabled);
$titlebar-divider:                      on($titlebar, divider);
$titlebar-secondary-fill:               on($titlebar, secondary-fill);
$titlebar-fill:                         on($titlebar, fill);

$primary-text:                          on($primary);
$primary-text-secondary:                on($primary, secondary);
$primary-text-disabled:                 on($primary, disabled);
$primary-text-secondary-disabled:       on($primary, secondary-disabled);
$primary-track:                         on($primary, track);
$primary-track-disabled:                on($primary, track-disabled);
$primary-divider:                       on($primary, divider);
$primary-secondary-fill:                on($primary, secondary-fill);
$primary-fill:                          on($primary, fill);

//
// Titlebutton colors
//

$titlebutton-close:                      $button-close;
$titlebutton-max:                        $button-max;
$titlebutton-min:                        $button-min;

// workaround for GTK3 @placeholder_text_color which doesn't allow translucent colors
$placeholder_text_color:                if($variant == 'light', mix(black, $base, 60%), rgba($text-secondary, 0.78));
